<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        Validaciones
     Una factura por cliente
     Validar que el cliente exista
     Que los productos agregados cambien el stock
     Si no hay suficiente stock no deje crear la factura

        Vista
    Encabezado: Poner cliente 
    Detalle: productos a comprar
    boton para crear factura 
    (Validaciones antes de crear, despues de validar se crea realmente la factura)
    -->
    
</body>
</html>