body{
    padding: 60px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table{
    padding: 20px;
}

.btn{
    padding: 12px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#btn_cliente{
    background-color: rgb(15, 173, 128);
}

#btn_cliente:hover{
    background-color: rgb(11, 126, 94);
}

#btn_producto{
    background-color: rgb(66, 118, 202);
}

#btn_producto:hover{
    background-color: rgb(43, 90, 164);
}

#btn_compra{
    background-color: rgb(204, 43, 59);
}

#btn_compra:hover{
    background-color: rgb(185, 16, 33);
}

#btn_factura{
    background-color: rgb(243, 195, 38);
}

#btn_factura:hover{
    background-color: rgb(216, 167, 7);
}

.box{
    width: 450px;
    height: 200px;
    padding: 20px;
    background: rgb(244, 244, 244);
    border-radius: 20px;
    box-shadow: 0 5px 8px rgb(183, 183, 183);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin: auto;
}

.box_1btns{
    padding-bottom: 10%;
}